@import url(http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif:400,400italic);
body {
	padding: 2em;
	margin: 0;
	border-top: 3px black solid;
	font-family: "Droid Sans", sans-serif;
	font-size: 16px;
}

h1 {
	font-family: "Droid Serif", serif;
	font-weight: 100;
	font-size: 4em;
	line-height: .7em;
}

h1 .subtitle {
	font-size: .3em;
	font-style: italic;
}

.d-list-item-label, .d-list-item-right-text {
	font-weight: normal;
	color: black;
}

[aria-selectable="true"] .d-list-item[aria-selected="true"]:before,
[aria-multiselectable="true"] .d-list-item[aria-selected="true"]:before,
[aria-selectable="true"] .d-list-item:before, 
[aria-multiselectable="true"] .d-list-item:before {
	content:"";
}

[aria-selectable="true"] .d-list-item, 
[aria-multiselectable="true"] .d-list-item {
	background-color:#fafafa;
	margin: 3px 0;
}

.d-list-item:hover {
	cursor: pointer;
	background-color:#f0f0f0;

}

[aria-selectable="true"] .d-list-item[aria-selected="true"],
[aria-multiselectable="true"] .d-list-item[aria-selected="true"] {
	background-color:#e5e5e5;
	color: #111;
}

input {
	padding: .5em .6em;
	display: inline-block;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 3px #ddd;
	border-radius: 4px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

*:focus {
	outline:0; !important
	
}

.d-list-item {
	border:none;
	
}

[aria-selected="true"] {
	color:#ccc;
}

button {
	padding: .5em 1em;
	color: rgba(0,0,0,.8);
	border: 0 rgba(0,0,0,0);
	background-color: #E6E6E6;
	border-radius: 2px;	
}

button:hover {
	cursor: pointer;
}

button.remove {
	background-color: rgb(202, 60, 60);
	color: white;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

button.save {
	background-color: rgb(28, 184, 65);
	color: white;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

button.add {
	color: white;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	background: rgb(66, 184, 221)
}

.actions {
	padding: 1em 0 
}

.d-list-container {
	height:auto;
}

button[disabled] {
	opacity: .4;
	cursor: not-allowed;
	box-shadow: none;
}

[ng-cloak] { 
	/* workaround for getting ng-cloak directive to work when angular is
	 * loaded through AMD */
	display:none !important;
}
